/* Style général */
body {
    font-family: 'Oswald', sans-serif;
    background-color: white ;
    color: var(--text-light);
    margin: 80px;
    padding: 20px;
}

.category-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #000000;
    font-weight: bold;
}
/* Header */
.header {
    background-color: #61787F;
    padding: 1rem 0;
    display: flex;           
    align-items: center;     
    justify-content: start; 
    gap: 1rem;              
}

.header img {
    height: 80px;
    margin-left: 1rem;      
}

.header-brand {
    font-family: 'Oswald';
    font-weight: 300;
    color: white;
    font-size: 40px;
    margin: 0;
    margin-left: 4rem;
}

/* Section Best movie */

.best-movie .row {
    border: 6px solid black;
    padding: 20px;
    margin: 0 !important;
    border-radius: 0%;
}
.img-fluid{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}
.movie-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
}

.movie-description {
    font-size: 28px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 2rem;
}
.btn-primary {
    background-color: #dc3545;  
    border-color: #dc3545;
    border-radius: 25px;
    padding: 10px 30px;
    align-self: flex-end;
    margin-top: auto;    
}

.btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Section Modal */

.modal-content {
    border-radius: 0;
    border: 4px solid black;
    padding: 20px;
    font-size: 24px;
    font-family: 'Oswald';
    font-weight: 300;
}
.modal-title {
    font-weight: 600;
    font-size: 48px;
}
.modal-movie-img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}
.modal-content .col-md-8 {
    font-weight: 600;
    font-size: 24px;
}
.movie-directors {
    font-weight: 400;
    font-size: 24px;
}
.modal-footer-custom {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
/* Section movies list */
.list-movies .movie-poster {
    width: 100%;
    max-width: 500px;
    max-height: 600px;
    object-fit: cover;
}
.movie-poster {
    display: block;  /* Évite les espaces indésirables */
    width: 100%;
    height: 600px;
    object-fit: cover;
}


/* overlay */
.position-relative {
    display: inline-block;  /* S'adapte à la taille de l'image */
}
.movie-overlay {
    position: absolute;
    left: 0;
    right: 0;
    /* Centrer verticalement l'overlay */
    top: 35%;
    height: 200px;  /* Hauteur fixe de l'overlay */
    transform: translateY(-50%);  /* Ajustement pour le centrage vertical */
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
}

.position-relative:hover .movie-overlay {
    opacity: 1;
}

.movie-overlay .btn {
    background-color: #000000;
    color: white;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    transform: translateY(20px);
    transition: all 0.3s ease;
    align-self: flex-end;
    margin-bottom: 30px;
    margin-right: 30px;
}

.position-relative:hover .movie-overlay .btn {
    transform: translateY(0);
}

.movie-title-overlay {
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}